$default-font-family: 'Poppins', 'Noto Sans SC', 'Roboto', sans-serif;
// base background color
$base-bg-light: rgb(var(--color-primary-200));
$base-bg-dark: rgb(var(--color-gray-950));
// base text color
$base-text-light: rgb(var(--color-primary-950));
$base-text-dark: rgb(var(--color-gray-50));
// sidebar background color
$sidebar-bg-light: rgb(var(--color-primary-50));
$sidebar-bg-dark: rgb(var(--color-gray-900));
// sidebar active background color
$sidebar-active-bg-light: rgb(var(--color-primary-400));
$sidebar-active-bg-dark: rgb(var(--color-gray-600));
// sidebar hover background color
$sidebar-hover-bg-light: rgb(var(--color-primary-200));
$sidebar-hover-bg-dark: rgb(var(--color-gray-800));
// main container background color
$main-container-bg-light: rgb(var(--color-primary-50));
$main-container-bg-dark: rgb(var(--color-gray-900));
